h1{background-color: black; color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;font-size: xx-large;
    text-align: center;}

h3{background-color:darkgreen;color: aqua;
  font-size: larger;text-align: center;}

#intro{background-color: darkred;color: dimgrey;
  display: inline-block;
}
footer{text-align: center;color: gold;}

ol{background-color: blueviolet; color: black;
display: inline-block;
}
